// base styles
#banner-image {
  
  width: 100vw;
  height: 100vh;

  position: fixed;
  z-index: -2;
  object-fit: cover;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  
}



#page-wrapper {

  height: 100vh;
 
  background-attachment: fixed;
  position: relative;

  display: grid;

  grid-auto-rows: 100vh auto auto;
  grid-template-areas:
  "banner"
  "main"
  "footer";

  

  @include mq(small) {
  }    
  @include mq(medium) {
      grid-auto-rows: 100vh auto auto;
      grid-template-areas:
      "sidenav banner"
      "sidenav main"
      "sidenav footer";
      grid-template-columns: 180px 1fr;
  }    
  @include mq(large) {
      grid-template-columns: 220px 1fr;
  }                    
  @include mq(x-large) {
      grid-template-columns: 250px 1fr;
  }
  


}

* {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
}


.section-title {
  color: $txt-light;
  padding: 20px;
  font-size: 30px;

  text-shadow : 0 0 10px $water-lightest;

  @include mq(small) {
      font-size: 30px;
  }    
  @include mq(medium) {
      font-size: 40px;
  }    
  @include mq(large) {
      font-size: 50px;
  }                    
  @include mq(x-large) {
      font-size: 50px;
  }
}

.section {
  background-color: $bg-colour-dark;

  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $txt-light;
}

#main {

  grid-area: main;

}
// nav styles
.sidenav {

  position: fixed;
  left: 0px;
  top: 0px;
  grid-area: sidenav;
  background-color: $blue-tint-trans;
  width: 100px;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 1;

  display: none;

  @include mq(medium) {
      display: block;
      width: 180px;
  }
  @include mq(large) {
      width: 220px;
  }
  @include mq(x-large) {
      width: 250px;
  }

  &-wrapper {
      padding-top: 30px;
      
  }

  #initials {

      font-weight: 600;
      font-size: 50px;
      font-family: $font-secondary;
      text-align: center;
      

      
      @include mq(small) {
          font-size: 60px;
      }    
      @include mq(medium) {
          font-size: 80px;
      }    
      @include mq(large) {
          font-size: 110px;
      }                    
      @include mq(x-large) {
          font-size: 140px;
      }


      a {
          text-decoration: none;
          color: rgba($txt-light,1);
          line-height: 100%;
          text-shadow : 0 0 10px $water-lightest;
          padding: 20px;
          margin-top: 20px;

          &:hover {
              text-shadow : 0 0 10px $water-lightest,0 0 10px $water-lightest;
          }
      }
  }

  &-menu {

      ul {

          display: flex;
          flex-direction: column;
          align-items: center;

          gap: 5px;


          margin-top: 40px;
          margin-bottom: 10px;

          li {
              &:hover {
                  background-color: rgba(255,255,255,0.02);
                  a {
                      color: $link-hover;
                      text-shadow: none;
                  }
              }
              width: 100%;
              text-align: center;

              @include mq(large) {
                  padding-top: 10px;
                  padding-bottom: 10px;
              }         
  
              a {
                  color: $link;
                  font-size: 20px;
                  font-weight: 400;
                  font-family: $font-primary;
                  padding: 10px 10px;
                  text-decoration: none;
                  text-align: center;
                  display: inline-block;

                  

                  

                  @include mq(small) {
                      font-size: 22px;
                  }    
                  @include mq(medium) {
                      font-size: 24px;
                  }    
                  @include mq(large) {
                      font-size: 26px;
                      br {
                          content: "";
                      }
                      br:after {
                          content: " "; 
                      }
                  }                    
                  @include mq(x-large) {
                      font-size: 28px;
                  }
              }
          }
      }
  }

  &-socials {
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
      a {
          text-decoration: none;
         
      }
  }
  
  

}



.mobilenav {

  position: fixed;
  left: 0px;
  top: 0px;
  grid-area: sidenav;
  background-color: $blue-tint-trans;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  z-index: 1;

  display: block;



  &-wrapper {
     
      padding-top: 30px;
      
  }

  #initials {

      font-weight: 600;
      font-size: 50px;
      font-family: $font-secondary;
      text-align: center;
      
      @include mq(small) {
          font-size: 60px;
      }    


      a {
          text-decoration: none;
          color: rgba($txt-light,1);
          line-height: 100%;
          text-shadow : 0 0 10px $water-lightest;
          padding: 20px;
          margin-top: 20px;

          &:hover {
              text-shadow : 0 0 10px $water-lightest,0 0 10px $water-lightest;
          }
      }
  }

  &-menu {

      ul {

          display: flex;
          flex-direction: column;
          align-items: center;

          gap: 5px;


          margin-top: 40px;
          margin-bottom: 10px;

          li {
              &:hover {
                  background-color: rgba(255,255,255,0.02);
                  a {
                      color: $link2-hover;
                      text-shadow: none;
                  }
              }
              width: 100%;
              text-align: center;

              @include mq(large) {
                  padding-top: 10px;
                  padding-bottom: 10px;
              }         
  
              a {
                  color: $link2;
                  font-size: 30px;
                  font-weight: 400;
                  font-family: $font-primary;
                  padding: 30px 30px;
                  text-decoration: none;
                  text-align: center;
                  display: inline-block;
                  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.9), 0 0 5px rgb(0, 0, 0);

                  br {
                      content: "";
                  }
                  br:after {
                      content: " "; 
                  }

                  @include mq(small) {
                      font-size: 38px;
                  }    


              }
          }
      }
  }

  &-socials {
      
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      
      
      a {
          text-decoration: none;
         
      }
  }
  
  

}


.socials-icon {
  color: $link;
  text-decoration: none;


  font-size: 32px;

  @include mq(small) {
      font-size: 38px;
  }    
  @include mq(medium) {
      font-size: 42px;
  }    
  @include mq(large) {
      font-size: 46px;
  }                    
  @include mq(x-large) {
      font-size: 50px;
  }



  &:hover {
      color: $link-hover;
  }
}

#hamburger {
  top: 20px;
  left: 20px;
  width: 50px;
  z-index: 2;
  display: block;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  appearance: none;
  position: absolute;
  position: fixed;
  margin-top: -9px;

  @include mq(medium) {
      display: none;
  }


  &::after, &::before, & #burger {
      content: "";
      width: 100%;
      height: 5px;
      margin: 9px 0;
      display: block;
      background-color: #fff;
      transition: 0.4s;
  }

}

//banner styles

#banner-section {
  grid-area: banner;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#banner-overlay {
  margin: auto;
 
}

#banner-text {
  text-align: center;
  color: $txt-light;
  font-weight: 500;
  font-size: 50px;
  font-family: $font-secondary;
  text-shadow : 0 0 10px $water-lightest;

  display: block;

  
  @include mq(small) {
      font-size: 80px;
  }    
  @include mq(medium) {
      font-size: 80px;
  }    
  @include mq(large) {
      font-size: 100px;
  }                    
  @include mq(x-large) {
      font-size: 120px;
  }
}

#banner-subtext {
  text-align: center;
  color: $txt-lightish;
  color: $green-dark;
  font-weight: 200;
  font-size: 30px;
//   border-top: 2px solid $green-dark;
  font-family: $font-primary;

  text-shadow: 0 0 15px rgba(0,0,0,.8), 0 0 10px  rgba(0,0,0,.9), 0 0 5px rgba(0,0,0,1.0);
  
      
  @include mq(small) {
      font-size: 40px;
  }    
  @include mq(medium) {
      font-size: 40px;
  }    
  @include mq(large) {
      font-size: 50px;
  }                    
  @include mq(x-large) {
      font-size: 50px;
  }
}

#banner-link {
  margin-bottom: 5%;
  text-align: center;
  align-self: center;
  display: block;
  width: auto;
  color: $scroll;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;

  &:hover {
      color: $scroll-hover;
  }
}

#banner-gradient {
  background: linear-gradient(rgba(0, 0, 0, 0), $bg-colour-dark 80%);
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 200px;

  z-index: -1;

  @include mq(small) {
      width: 100%;
  }    
  @include mq(medium) {
      width: calc(100% - 180px);
  }    
  @include mq(large) {
      width: calc(100% - 220px);
  }                    
  @include mq(x-large) {
      width: calc(100% - 250px);
  }

}
  //portfolio styles
  #portfolio-spacer {

    height: 200px;
    width: 10px;

}

#portfolio-wrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90vw;
    
    @include mq(small) {
        grid-template-columns: repeat(1, 1fr);
    }    
    @include mq(medium) {
        grid-template-columns: repeat(2, 1fr);
        width: 70vw;
    }    
    @include mq(large) {
        grid-template-columns: repeat(2, 1fr);
    }                    
    @include mq(x-large) {
        grid-template-columns: repeat(3, 1fr);
    }


    

}

.portfolio-item {

    text-align: center;
    padding: 20px;

    height: auto;
    width: auto;


    &__image {
        height: auto;
        width: 90%;

        min-width: 90%;

        object-fit: cover;

        

        padding: 5px;
        border-radius: 10px;
    }

    &__title {
        color: $green-dark;
        font-size: 20px;
        padding-bottom: 6px;
    }

    &__link1, &__link2 {
        color: $link;
        text-decoration: none;
        font-size: 14px;

        &:hover {
            color: $link-hover;
        }
    }

    &__link1 {
        margin-right: 10px;
    }

    &__link2 {
        margin-left: 10px;
    }


}
// contact styles

#contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#contact-form {

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px 20px;
  padding: 20px;

  ;
  min-width: 70vw;

  @include mq(small) {
      grid-template-columns: repeat(1, 1fr);
      gap: 20px 20px;
      padding: 20px;
  }    
  @include mq(medium) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding: 20px;
  }    
  @include mq(large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding: 20px;
  }                    
  @include mq(x-large) {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 20px;
      padding: 20px;
  }

}

#contact-form input, #contact-form textarea {

  background-color: $bg-colour;
  background-color: $blue-tint-trans;

  color: $txt-light;



  border-radius: 5px;
  border: solid 1px $txt-green;


  padding: 10px 12px;
  min-width: 200px;
  width: auto;


  @include mq(small) {
      padding: 10px 15px;
  }
  @include mq(medium) {
      padding: 10px 15px;
  }    
  @include mq(large) {
      padding: 15px 25px;
  }                    
  @include mq(x-large) {
      padding: 15px 25px;
  }
  
  box-shadow: none;
  &::placeholder {
      color: $txt-green;
  }
}

#contact-submit {
  cursor: pointer;
  
}

#contact-subject, #contact-message, #contact-submit {
  
  grid-column: span 1;

  @include mq(medium) {
      grid-column: span 2;
  }   
}

#contact-message {
  resize: none;
}

.missing-field {
  border: 2px solid red;
}
//footer styles
#footer {

  grid-area: footer;
  background-color: $bg-colour-dark;
  color: $txt-light

}

#footer-link {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
  align-self: center;
  display: block;
  width: auto;
  color: $scroll;
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;

  &:hover {
      color: $scroll-hover;
  }


}

//styles for scheme page

#scs-spacer {

  height: 200px;
  width: 10px;

}

#scs-wrapper {

  display: grid;
  width: 80vw;

  h3 {
      font-size: 30px;
      font-size: 2rem;
      text-align: center;

      color: $txt-lightish;
      color: $green-dark;

      padding: 10px;
      padding-top: 30px;

      
      
  }

  p {
      font-size: 1em;
      padding: 10px;
      line-height: 1.5em;

      color: $txt-lightish;
      text-align: center;
  }

  a {
      
      text-align: center;
      font-size: 1.3em;
      text-decoration: none;

      color: $link;

      &:hover {
          color: $link-hover;
      }
  }


  ul {
      margin-left: 20px;
      text-align: center;

      li {
          font-size: 1em;
          line-height: 1.5em;
          color: $txt-lightish;
      }

  }


  
  @include mq(small) {
  }    
  @include mq(medium) {
      width: 70vw;
  }    
  @include mq(large) {
  }                    
  @include mq(x-large) {
  }


  

}
 